<h2>Contacto</h2>
<form #formContacto = "ngForm" (ngSubmit)="onSubmit()">
  <label for="nombre">Nombre</label>  <br>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)] ="usuario.nombre" required pattern="[a-zA-Z]+"/>
  <span *ngIf="nombre.touched && !nombre.valid" >Se debe de introducir un nombre</span>
  <br>

  <label for="apellido">Apellido</label>  <br>
  <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.apellido" required pattern="[a-zA-Z]+"/>  
  <span *ngIf="apellido.touched && !apellido.valid" >Se debe de introducir un Apellido</span>
  <br>
 
  <label for="email">Email</label>  <br>
  <input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" /> 
  <span *ngIf="email.touched && !email.valid" >Se debe de introducir un Correo</span>
  <br>

  <label for="mensaje">Mensaje</label>  <br>
  <textarea name="mensaje" id="" cols="30" rows="10" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required></textarea>  
  <span *ngIf="mensaje.touched && !mensaje.valid" >Se debe de introducir un Mensaje</span>
  <br>
  
  <input type="submit" value="Enviar">
</form>