<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
              'background': config.fondo,
              'padding': '20px',
              'border': '5px solid black',
              'border-color': config.color
              }">  
  <h1>
   Bienvenidos Al {{ titulo }}!
  </h1>
 <h2>{{title}}</h2>
 <h3>{{descripcion}}</h3>
 <nav  [class.altoPrecio] = true>
        <a [routerLink]="['./home']" [routerLinkActive]="['active']"> Home</a>
        &nbsp;
        <a [routerLink]="['./videojuego']" [routerLinkActive]="['active']"> VideoJuegos</a>
        &nbsp;
        <a [routerLink]="['./zapatillas']" [routerLinkActive]="['active']"> Zapatillas</a>
        &nbsp;
        <a [routerLink]="['./cursos']" [routerLinkActive]="['active']"> Cursos</a>
        &nbsp;
        <a [routerLink]="['./externo']" [routerLinkActive]="['active']"> Externo</a>
    </nav>

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <br>
  
  <br>
  <!--
    <input type="text" name="" id="" [(ngModel)]="titulo2"/>
  <input type="submit" value="Cambiar Titulo" (click)='cambiarTituloConf(titulo2)'/> 
  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <zapatillas></zapatillas>  <cursos></cursos>-->  
  <router-outlet></router-outlet>

 </div>
 

